fastapi
uvicorn
supabase
pydantic
pydantic-settings
python-multipart
# Add document parsing libs below when needed
pdfplumber
pandas
python-docx
openpyxl
python-dotenv
# psycopg2
psycopg2-binary
openai
langchain
langgraph
langchain-openai
langgraph-checkpoint-postgres
psycopg-pool